@use 'variables' as *
.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 15%
    left: -20%
    width: 20%
  &-2
    animation: float1 2.5s ease-in-out infinite alternate
    position: absolute
    top: 70%
    right: 70%
    width: 20%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 40%
    left: 70%
    width: 20%
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)

.col-lg-7.col-xxl-5.ps-4.ps-sm-5.py-4.py-sm-5.banner-principal__info
  flex: 0 0 auto !important
  width: 40% 
  @media only screen and (min-width: 1024px)
    margin-left: -40px
  @media only screen and (max-width: 1023px)
    width: 100%

.banner-principal__img 
  padding-bottom: 0 !important
.banner-principal__row .banner-principal__img 
  width: 33%
    
.titulo-principal.color-acento-contenido .titulo-principal__numero span
  color: white !important   
.barra-avance__boton--regresar span 
    color: black !important

figcaption
  font-weight: normal

.banner-principal
  @media (max-width: $bp-max-md)
    .tarjeta
      background-image: url('../assets/curso/portada/tablet.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 10% !important 
      padding-right: 5% !important
  @media (max-width: 767px) 
    .tarjeta
      background-image: url('../assets/curso/portada/movil.png') !important
      background-repeat: no-repeat
      background-size: cover
      background-position: center
    &__info
      padding-top: 15% !important 
      padding-right: 5% !important
      margin-bottom: 10% !important
.banner-interno__fondo    
  background-image: url("../assets/curso/portada/portada.png") !important

.titulo-sexto
  border-left: 10px solid
  padding: 6px 0 6px 8px
  border-left-color: #DBDCE1 !important

.titulo-segundo:after 
  content: ''
  display: block
  height: 4.5px
  width: 140px
  border-left: solid 50px
  border-left-color: #85461A
  background-color: #D9E5EF

.cen
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  
.img-t
  width: auto
  height: auto 
.img-a
  display: block
  margin: auto


.bg1
  background-color: #EBE7E6

.bg2
  background-color: #EEFAE9















.tit
  background-color: #1A2018
  border-radius: 0px 0px 10px 0px 
  width: fit-content
  padding: 8px 30px 8px 60px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 15px
  & 
    h3
      color: white
.tit img
  width: 60px
  height: 60px
  position: absolute
  top: 50%
  left: -15px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 40%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

.tit1
  background-color: #59CA2F
  border-radius: 10px 
  width: fit-content
  padding: 8px 30px 8px 60px
  position: relative
  display: inline-flex
  align-items: center
  margin-left: 0px
  & 
    h3
      color: white
.tit1 img
  width: 20px
  height: 20px
  position: absolute
  top: 50%
  left: 10px 
  transform: translateY(-50%)
  object-fit: contain
  z-index: 1
  @media only screen and (min-width: 768px) and (max-width: 1023px)
    width: 55px
    height: 55px
    top: 40%
  @media only screen and (max-width: 767px)
    top: 48%
    width: 55px
    height: 55px

















//////////////////////////////////////TABLAS////////////////////////////////////

.tabla-a thead 
  border-top: 6px solid #83E0CE
  color: #12263F
  background-color: #CDF3EB
.tabla-a th
  border-color: #CDF3EB
.tabla-a
  table
    width: 100%
    th, td
      vertical-align: top
      text-align: left
      //border: none
  tbody
    td:first-child
      font-weight: bold
  table th
    padding: 16px 15px
  table td 
    padding: 15px 15px

.tabla-a.tab1
  th:nth-child(1)
    width: 25%
  th:nth-child(2)
    width: 75%

.tabla-a.tab2
  th:nth-child(1)
    width: 20%
  th:nth-child(2)
    width: 40%
  th:nth-child(3)
    width: 40%


////////////////////////TABLAS PEQUEÑAS//////////////////////////////

.tabla-a.tabla-peq
  overflow-x: visible !important
  overflow: visible !important
  @media (max-width: 991px)
    overflow-x: auto !important
    -webkit-overflow-scrolling: touch !important
    display: block !important
  table
    min-width: auto !important
    width: 100% !important
    table-layout: auto !important
    @media (max-width: 991px)
      min-width: 500px !important 

.tabla-a.tabla-peq.tabla1
  table th
    padding: 16px 15px
  table td 
    padding: 12px 15px
  th:nth-child(1)
    width: 50%
  th:nth-child(2)
    width: 50%
